@charset "utf-8";

// Brand colors
$deep-blue: #0d47a1;
$deep-green: green;
$nice-red: red;
$primary: #8b000e;
$secondary-color: #7e7e7e;
$lighter-black: #4a4a4a;
$third-color: #eceff1;

// Main CSS
body {
  margin: 0;
}

html {
  background-color: white;
}

#main {
  padding: 1rem 10vw;
  margin-bottom: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $lighter-black;
}

p {
  text-align: justify;
  color: $lighter-black;
}

.has-reduced-padding {
  padding: 0.5rem;
}

.notification {
  z-index: 100;
  position: fixed;
  left: 45vw;
  bottom: 1rem;
  width: 50vw;
  transition: all 0.5s ease;
}

.notification:hover {
  z-index: 200;
}

.uploader {
  left: 5vw;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.is-hidden {
    img {
      display: none;
    }
  }
}

input,
textarea,
select {
  border: solid 0.5px #7e7e7e;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1vh;
  background-color: white;
}

.is-primary {
  background-color: $primary !important;
}

button {
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 5px;
  margin: 0 5px;
  padding: 8px;
  cursor: pointer;

  &.is-primary {
    color: white;
  }
}

// Navbar
#navbar {
  background-color: white;
  border-bottom: 1px solid $secondary-color;

  #navbar-burger {
    display: none;
  }

  #navbar-menu {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    padding: 0 10vw;
  }

  .navbar-item {
    color: $lighter-black;
    text-decoration: none;
    padding: 1vh 3vw;

    &:hover {
      color: $primary;
    }

    &.active {
      color: $primary;
      border-bottom: $primary solid 2px;
    }

    .navbar-menu-icon {
      margin-right: 5px;
    }
  }

  #navbar-start,
  #navbar-center,
  #navbar-end {
    display: flex;
    justify-content: center;
  }

  #navbar-start {
    a {
      color: $primary;
      font-size: xx-large;
    }
  }

  #navbar-center,
  #navbar-end {
    a {
      font-size: large;
    }
  }
}

blockquote {
  background-color: $third-color;
  border-left: 5px solid $secondary-color;
  padding: 1.25em 1.5em;
}

// Footer
footer {
  background-color: $lighter-black;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 56px;
  position: fixed;
  width: 100%;
  bottom: 0;

  #version {
    display: flex;
    justify-content: end;
    p {
      color: white;
    }
  }

  #version,
  #gitlab {
    margin: 0 3vw;
    color: white;
  }

  #gitlab {
    a {
      background-color: $primary;
      font-size: large;
      color: white;
      padding: 8px;
      border-radius: 5px;
    }
  }
}

// Applications displayed
.apps-title {
  box-shadow: 0 20px 20px $secondary-color;
  border-radius: 10px;
  color: $primary;
  padding: 0.5em;
  margin-bottom: 1.5em;
}

.app-list {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 1em;

  .app {
    text-align: center;
    box-shadow: 0 10px 20px $secondary-color;
    border-radius: 5px;
    padding: 1em;
    margin-top: 30px;
    color: $lighter-black;
    position: relative;

    .link-app {
      background-color: $primary;
      color: white;
      border-radius: 10px;
      padding: 10px 50px;
      text-decoration: none;
    }

    .icon {
      display: flex;
      justify-content: center;
      transform: translate(-0%, -70%) !important;
      font-size: 0.8em;
      border-radius: 50%;
      background-color: $primary;
      color: white;
      box-shadow: 0 10px 30px $primary;
      width: 6em;
      height: 6em;
      left: 40% !important;
      position: absolute;

      svg {
        font-size: 3.5em;
      }

      .svg-inline--fa {
        height: 1.8em;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1.5em;
    }

    p {
      text-align: center;
    }
  }
}

// Applications administration
#columns-app-administration {
  display: grid;
  grid-template-columns: 50% 50%;

  .column {
    box-shadow: 0 10px 20px $secondary-color;
    border-radius: 5px;
    padding: 1em;
  }

  #app-list-component {
    .app {
      display: grid;
      grid-template-columns: 80% 20%;
      border: 1px solid grey;
      margin: 1vh 0;
      border-radius: 5px;
      padding: 1rem;

      .icon {
        align-items: center;
        display: grid;
        justify-content: center;
        color: $lighter-black;
      }
    }
  }

  #app-list-component,
  #app-form-component {
    height: 77vh;
    overflow: auto;
    margin: 1rem;
  }

  #app-form-component {
    #buttons-form-app {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  #delete-btn,
  #add-btn {
    position: relative;
    float: right;
    color: $primary;
    cursor: pointer;
  }
}

@media screen and (max-width: 1023px) {
  #main {
    padding: 1rem;
  }

  // Applications displayed
  .app-list {
    grid-template-columns: repeat(1, 99%);
    .app {
      .link-app {
        width: 30vw !important;
      }
    }
  }

  // Navbar
  #navbar {
    border-bottom: none;

    #navbar-burger {
      display: grid;
      align-items: center;
      grid-template-columns: 80% 20%;

      #burger {
        cursor: pointer;

        hr {
          background-color: $secondary-color;
          width: 40px;
          height: 3px;
          border-radius: 1px;
          margin: 1vh 5vw;
          border: 0;
        }
      }

      #navbar-start {
        justify-self: center;
      }
    }

    #navbar-menu {
      display: inline;

      &.is-hidden {
        display: none;
      }

      #navbar-center {
        display: grid;
        justify-items: center;
      }

      #navbar-start {
        display: none;
      }
    }
  }

  // Applications management
  #columns-app-administration {
    display: block;

    #app-list-component,
    #app-form-component {
      height: 55vh;
      overflow: auto;
      margin: 1rem;
    }
  }
}
